[2020-03-21 02:36] clovis-rosa opened #1 "Error trying to compile(SO - Windows 64-bit)"
H! Vladmir, thank you very much for put your time on it!
I'm running a simple HTML, CSS and Js project on VSCode. It runs with no erros without the plugin, but once I try to run it after install the plugin the following error pops up:

`Server running at http://localhost:1234
√  Built in 949ms.
×  Path contains invalid characters: C:\landingpage_test\dist\css\C:\landingpage_test\dist
    at checkP

[2020-03-21 10:04] VladimirMikulic commented on #1
Hi @clovis-rosa! Thank you very much for reporting the issue with such a detailed description!
I am working on the fix! It should arrive soon.

[2020-03-21 14:04] #1 closed

[2020-03-21 14:07] VladimirMikulic commented on #1
The issue has been fixed! You can download the new version `1.0.3` to confirm that it works.
Again, thank you for reporting this critical issue :+1:

[2020-03-21 14:59] duncanhall opened #2 "Parcel v2 support?"
Hey @VladimirMikulic  thanks for your work on this.

Are you able to confirm if this plugin works with parcel v2? I've installed the plugin and added a `customDistStructure` to my `package.json` but there are no changes to my output structure.

I am running parcel version `2.0.0-alpha.3.2`.

[2020-03-21 15:12] VladimirMikulic commented on #2
Hi @duncanhall! Version 2 is supported. I am running the same Parcel version as you.

[code]
Please provide your config object and I'll be happy to help you.

[2020-03-21 15:20] VladimirMikulic commented on #2
I could add support for the v2, but it would be a completely different package/repo.

[2020-03-21 15:26] clovis-rosa opened #3 "Error trying to compile SASS files on Windows 64-bit"
Hi Vladimir! I'm open a new issue as it's a different error. The plugin works when its first started, but once I save any changes the following error pops up:
You can find the test project here: https://github.com/clovis-rosa/landingpage_test

`Server running at http://localhost:1234
√  Built in 54ms.
×  ENOENT: no such file or directory, rename 'C:\landingpage_test\dist\styles.164d45a1.css' -> 'C

[2020-03-21 15:29] VladimirMikulic commented on #3
Hi @clovis-rosa. You are using the version `1.0.3`. This has been fixed in the latest version (`1.0.4`).
Check it out :)

[2020-03-21 15:29] clovis-rosa commented on #1
Thank you @VladimirMikulic, it's working!
I've just opened another issue related to SCSS files.

All the best and stay safe!

[2020-03-21 15:32] VladimirMikulic commented on #1
@clovis-rosa this time I was faster and I've fixed it before you had opened it :)
Run `npm update` to go from `1.0.3` to `1.0.4`.

Enjoy it :rocket:

[2020-03-21 15:56] clovis-rosa commented on #3
Hey, would you please consider reopen the issue and look at it?
It's happing in the Head of the compiled HTML, it's repeating the folder url - "/css/css/..."

`<link rel="stylesheet" href="/css/css/styles.164d45a1.css">`
`<script src="/js/js/styles.164d45a1.js"></script></head>`

`<link rel="stylesheet" href="/css/css/css/styles.164d45a1.css">`
`<script src="/js/js/js/styles.164d45a1.js"></script>

[2020-03-21 16:43] VladimirMikulic commented on #3
Good catch. I'll need to improve the development mode. Thank you.

[2020-03-21 16:43] #2 closed

[2020-03-21 22:10] #3 closed

[2020-03-21 22:13] VladimirMikulic commented on #3
@clovis-rosa thanks again. This time the development mode has been thoroughly tested.
The new minor version `1.0.5` has been released. You can download and use it on your project.

Thank you.

[2020-03-22 15:46] clovis-rosa opened #4 "Wrong file path links in development mode - HTML files"
Hey @VladimirMikulic. Hope you're keeping well!

As you can see in the example above, it's loosing the correct path "/css/", "/js/" and "/images/" in the compiled HTML(dist folder) file, BUT it only happens when the HTML(src folder) is modified.

Again, while i'm working on the SCSS file and saving, everything works fine. Once I change anything in the HTML, it breaks!
I haven't test anything with

[2020-03-22 15:54] VladimirMikulic commented on #4
Thank you @clovis-rosa for all the testing you did :+1:
I apologise for the bugs in development mode, patches will land soon.

[2020-03-24 08:28] m615926 commented on #4
Thanks for great plugin and I finally can use Parcel in production site. I have the same issue and I see your latest version 1.0.5 seems to fix it. I have tried it and worked perfectly.

But I found it can't reload automatically when I modified any files. I have to refresh manually. Is it the Parcel or your plugin problem? I can't figure out. Could you try it?

[2020-03-24 09:02] m615926 commented on #4
@VladimirMikulic Thanks for great plugin and I finally can use Parcel in the production site. But I also have same issue, looking forward your patches. Thanks a lot!

[2020-03-24 11:29] VladimirMikulic commented on #4
Hi @m615926. I am pleased to hear that you are satisfied. At the moment development mode is unstable, but I am working on it!

[2020-03-24 23:46] VladimirMikulic commented on #4
This is related to #3 as well.

[2020-03-25 16:08] VladimirMikulic commented on #4
@m615926 @clovis-rosa it took me very long 3 days to fix the development mode, but I think that I finally got it. Before publishing the new version to the NPM, I would be thankful to you both if you could try it?

1. Clone the project `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch `git checkout fix/development-mode`
3. Make it av

[2020-03-26 01:57] ziven27 opened #6 "Multiple entries support"
[code]
[code]

when i  have script in my package.json , it will show this error.
[code]

but this is ok.

[2020-03-26 02:50] m615926 commented on #4
You Rock!!! It's so appreciate your effort!

I followed you steps and I got the following error message. Did I paste the wrong path?

![CleanShot 2020-03-26 at 10 49 13](https://user-images.githubusercontent.com/1587136/77605291-7f79a700-6f4f-11ea-9ac7-9d1dba7d0b0c.jpg)

[2020-03-26 11:18] VladimirMikulic commented on #4
@m615926 thank you. I think you've misunderstood the step 5.
You are still in the plugin folder, that's why you get this error. You should enter another project that you are working on and install it there.

Let me know if it helps and I appreciate your effort :+1:

[2020-03-26 11:23] VladimirMikulic commented on #6
Hi @ziven27.
Thank you for reporting this issue. As of now, only one entry file is supported.
This feature will be available soon :)

[2020-03-27 03:06] m615926 commented on #4
I got it and have tried again, there was a new error "Node does not exist: /Users/oberonlai/Sites/Hellowp/wp-content/themes/ods/assets/.DS_Store". I didn't get what it means? Do I have the wrong config with your plugin? And I still get same issue when I update my index.pug file. 😭

![CleanShot 2020-03-27 at 11 04 24](https://user-images.githubusercontent.com/1587136/77717182-c1bbea80-701a-11ea-913

[2020-03-27 03:13] VladimirMikulic commented on #4
Hi @m615926.
Thank you very much on these screenshots! This an expected behaviour.
Currently, the plugin does not support multiple entry files i.e `src/*.pug`.
That's why it fails. If you could try it out it with only one entry file I would be very thankful.

After this gets resolved I'll start working on #6 (Multiple entries support), no worries :)

[2020-03-27 03:19] m615926 commented on #4
Thanks! I used to separate the multiple folder to manage the files, and that's reason why I couldn't use Parcel in my project now. Looking forward your update, I can't wait to use your plugin!!!

[2020-03-27 03:23] VladimirMikulic commented on #4
Wow, I appreciate your kind words :+1:
The development continues :factory:
So, does it work for you with a single entry file? I've tested it locally with a few configs and didn't found any problems which is awesome!

[2020-03-27 03:25] m615926 commented on #4
😢

![CleanShot 2020-03-27 at 11 24 39](https://user-images.githubusercontent.com/1587136/77718359-b4542f80-701d-11ea-940f-2b0cc6d61324.jpg)

[2020-03-27 03:28] VladimirMikulic commented on #4
Do you maybe have .DS_Store in your projects folder or src? It might have included it wrongly.

[2020-03-27 03:31] oberonlai commented on #4
No, how can I generate the .DS_Store file?

[2020-03-27 03:33] VladimirMikulic commented on #4
Finder creates it automatically to store some metadata about the folder.
This is a very good catch, I'll release the fix in the next few minutes...

[2020-03-27 04:13] VladimirMikulic commented on #4
@oberonlai could you try it now? Sorry, it took me a bit of time to fix this. The tests were updated as well, so this won't happen again :)

[2020-03-27 07:13] oberonlai commented on #4
You are awesome! Missing .DS_Dtore file is fixed. But I still can't use the multiple entries. It's so close~

![CleanShot 2020-03-27 at 15 12 45](https://user-images.githubusercontent.com/1587136/77731222-78c95d80-703d-11ea-882d-4d5e87d43350.jpg)

[2020-03-27 13:11] VladimirMikulic commented on #4
@oberonlai that's awesome news. It means that we've finally fixed the development mode :tada:
Thank you very much for your help. Don't worry for multiple entries, I am already working on the feature ;)

[2020-03-27 22:19] #4 closed

[2020-03-28 01:11] VladimirMikulic commented on #6
@oberonlai, as I promised here, is your most wanted feature :)
If you and @ziven27 could test this, it would be great!
The same steps as before.

1. Clone the project git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git
2. Check out the test branch `git checkout feature/multiple-entries-support`
3. Make it available globally on your system `npm link`
4. After runnin

[2020-03-29 11:38] #6 closed

[2020-03-29 11:38] VladimirMikulic commented on #6
I've tested the changes and merged them, they are good to go :+1:

[2020-03-30 03:22] oberonlai commented on #6
I've tested and worked perfectly. You really did a good job and huge favor for me. Thanks a lot again!!! 🙇

[2020-03-30 13:13] VladimirMikulic commented on #6
No problem. It's nice to see that you are satisfied :+1:

[2020-04-13 10:44] HowardvanRooijen opened #8 "Maximum call stack size exceeded"
Hi! Just giving the plugin a spin against a project I'm working on and I get the following error when I run with the plugin installed:

[code]

The project has around 800 html & image files.

[2020-04-13 14:28] VladimirMikulic commented on #8
Hi @HowardvanRooijen. Thank you for reporting this issue.
Could you please post here your configuration object?

Also, if you don't mind, how are these 800 HTML files connected? Are they all dependencies of one single HTML file which then includes the rest (like a tree structure), or they are separate?

Thank you.

[2020-04-13 14:32] HowardvanRooijen commented on #8
Hi,

I had got as far as using the default configuration from the readme.

The site is a port of our blog site - I've gone from WordPress to Markdown, then using a custom SSG to generate the new static site, then using parceljs to package / minify etc. That all works absolutely fine... I just gave your plugin a try, because all the images are dumped in the root of the site, and I quite wanted a bi

[2020-04-13 15:26] VladimirMikulic commented on #8
Alright, great! This is going to be a bit tricky to debug since I don't have the whole dependency graph to inspect, but I'll try my best :)
Have you tried running a production build `parcel build <entries>`? Does the error occur there as well?

[2020-04-13 16:12] HowardvanRooijen commented on #8
I'll give it a go. I might be able to provide you with a dump of the raw files, if that'll help?

[2020-04-13 16:20] VladimirMikulic commented on #8
Any clue that I can get my hands on is helpful. Thank you :+1:

[2020-04-13 18:16] chuckntaylor opened #9 "SCSS Hot Reload fails if options.development: true"
Hi there, after scratching my head for awhile today to figure out why the hot reload was no longer working when I made changes to a scss file, I realized that my problems vanished when I set development to false and not have my folders structured while developing.

The styles do update however, if I save my entry file (index.html) in this case.

I am simply including the scss file in the index.htm

[2020-04-13 18:59] VladimirMikulic commented on #8
@HowardvanRooijen I might not even need it.
I think I've fixed it, but I'll need your help to verify this :)

I would like you to test it, the steps are:
1. Clone the project: `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch: `git checkout fix/build-dependency-assets-stack-overflow`
3. Make it available globally on your system: `np

[2020-04-13 19:39] VladimirMikulic commented on #9
Hi @chuckntaylor. Thank you for reporting this issue.
This is not really the plugin's responsibility (or shouldn't be), but I think that I've managed to fix it.
I'll need your help to verify this :)

Please follow the steps:
1. Clone the project: `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch: `git checkout fix/hot-reload`
3. Mak

[2020-04-13 20:22] HowardvanRooijen commented on #8
Think I have it all set up OK, but still getting:

[code]

[2020-04-13 20:25] chuckntaylor commented on #9
Hi @VladimirMikulic

I've gone through the steps you've outlined, which resulted in the following package.json

[code]

However, as before, if I set `options.development` to `true`, for whatever reason, when I am editing and saving a linked sass file, the browser fails to refresh. If I make a save on the index page, everything refreshes as normal. I wasn't sure if it had anything to do with how th

[2020-04-13 20:47] VladimirMikulic commented on #8
So far so good. At least I've eliminated one option.
I've updated the branch, could you please follow the step again and see if this fixed the issue?

Thank you.

[2020-04-13 21:16] VladimirMikulic commented on #9
Alright, thank you! I'll see what I can do and will inform you soon.

[2020-04-14 13:55] HowardvanRooijen commented on #8
W00t! That seems to have worked! Thanks very much. I'll enable it while I'm continuing to develop and see if it's stable... or if I can find any edge cases.

[2020-04-14 14:03] VladimirMikulic commented on #8
That's awesome to hear. I'll leave the issue and PR open for 2 more days to be sure that this does work flawlessly on bigger projects and after that, I'll merge the PR and publish a new version to NPM.

[2020-04-14 18:32] VladimirMikulic commented on #9
Hi @chuckntaylor.
I have some good news and bad news for you :)

**BAD NEWS**
HMR is not fixable, because of inner Parcel's workings I can't point the changes to the files **that are not** in the root of the dist folder.

**GOOD NEWS**
The good news is that page refreshes when you make a change!

It's almost the same as HMR, the only difference is that HMR doesn't do a page reload, instead it repl

[2020-04-14 18:50] chuckntaylor commented on #9
I won't lie, I don't fully understand everything you just mentioned. 😆
But, yes! Totally works!
🎉 🎉 🎉

[2020-04-14 19:08] VladimirMikulic commented on #9
Awesome :rocket:
Thank you for verifying the changes. I'll publish the new release on Thursday, together with #10.
Until then you can keep using this approach with an absolute path.

[2020-04-14 19:08] #9 closed

[2020-04-15 22:10] HowardvanRooijen commented on #8
Hi,

something odd is going on... I'm using the following configuration:

[code]

The build runs, although I've been getting a lot of crashes today. I put that down to the fact I'm doing to work to deal with all the internal links... but since a reboot today, the build succeeds, but all the files are still in the root dist directory, then over the next 30 seconds the files seem to get copied to th

[2020-04-15 22:55] VladimirMikulic commented on #8
Hi @HowardvanRooijen.
The "issue" that you've described is how plugin actually works.
**After** the Parcel generates the build, **my plugin runs** and places the files in corresponding folders while also linking files accordingly.

You might be asking, "Why doesn't it place files at runtime, wouldn't it be faster?".
That's correct, it would be a 100 times faster, but Parcel's v1 architecture preve

[2020-04-15 23:05] HowardvanRooijen commented on #8
Thanks! That makes sense. Would it impact the web server being able to serve content?

[2020-04-15 23:17] VladimirMikulic commented on #8
Parcel's development server is not meant to be used as a production server, if that's what you had in mind.

[2020-04-17 00:06] #8 closed

[2020-04-17 00:09] VladimirMikulic commented on #9
v1.1.5 has been released! Check it out.

[2020-04-17 00:11] VladimirMikulic commented on #8
v1.1.5 has been released! Thank you for your help.
Now, the plugin is ready for enterprise projects 😎

[2020-04-17 00:37] chuckntaylor commented on #9
Hello @VladimirMikulic,

I just installed the update, and I am seeing the following in the terminal.

[code]

[2020-04-17 00:53] VladimirMikulic commented on #9
@chuckntaylor thank you for this information.
You have Parcel globally installed, right?

[2020-04-17 00:55] chuckntaylor commented on #9
@VladimirMikulic no problem,
Yes, I can call Parcel from anywhere in the terminal. Parcel Version 1.12.4

[2020-04-17 01:10] VladimirMikulic commented on #9
Alright, I've fixed this. It's good that you've encountered this.
Now the plugin will look locally first for HMR Server and if it can't find it, it will look for global installation.

Could you please try v1.1.7?
Thank you.

[2020-04-17 01:18] chuckntaylor commented on #9
I'm now getting the following:

[code]

[2020-04-17 01:28] VladimirMikulic commented on #9
Could you please try putting `export NODE_PATH=<absolute_path_to_global_node_modules_folder>`
in your `.bashrc` or `.zshrc`. After you've done this, restart terminal or run `source ~/.bashrc`/`source ~/.zshrc`.

Please report the result here. Thank you.

[2020-04-17 01:48] chuckntaylor commented on #9
I believe I have followed your instructions. I am getting the same error though.

I'll just clarify though. I am on Mac 10.15.4
I use Yarn in my projects.
I started off putting this line into my .bash_profile

NODE_PATH=/usr/local/lib/node_modules

I believe this is the absolute path to the global node modules. However, I should mention that within that folder I see the following three folders [np

[2020-04-17 04:12] klimnikova opened #12 "Error when putting in css images"
Hi!
Thnx for nice package!
I want to implement the next structure:
[code]
But I get the error :  sanitizedFolderName.startsWith is not a function.

[2020-04-17 10:57] VladimirMikulic commented on #12
Hi and you are welcome :)

The first line of your config object is not valid. If the key starts with `.` it is treated as a file type. The expected value is folder where it should place `.`files.

If you want your images and css to be in the same folder, this is your key-value pair:
"css": [.css, .jpg, .png] -> translates to " Put all css files and images in the css folder.

I hope that now you un

[2020-04-17 11:00] #12 closed

[2020-04-17 14:37] VladimirMikulic commented on #9
Could you please try running `yarn link parcel-bundler/npm link parcel-bundler` in your project's directory to see if the error persists?

[2020-04-17 18:29] chuckntaylor commented on #9
I does unfortunately still persist. While `npm link parcel-bundler` does what you would expect, I should note that `yarn link parcel-bundler` results in

[code]

In both cases though, I did restart terminal before re-launching my app.

[2020-04-17 18:32] chuckntaylor commented on #9
Following the previous comment, I just entered `npm unlink parcel-builder` and was faced with this error:
[code]

[2020-04-17 18:33] VladimirMikulic commented on #9
I think that you are doing something wrong.
I've tried this on my end and it does solve the problem, `link` command simply places global `parcel-bundler` directory in your project's node_modules folder.

Also, I've removed 1.1.7, please install the newest 1.1.9.

[2020-04-17 18:47] chuckntaylor commented on #9
You're probably right. I just tried 1.1.9, but get the same error showing saying that "id" argument needs to be a string, but receiving undefined...
[code]

[2020-04-17 19:46] VladimirMikulic commented on #9
@chuckntaylor you are on the right path now.
Link global parcel-bundler and you are good to go :)

[2020-04-17 20:35] chuckntaylor commented on #9
I think my issues may be related to this:
https://github.com/yarnpkg/yarn/issues/1297

[2020-04-17 20:48] VladimirMikulic commented on #9
It seems that it is related.
You can either install `parcel-bundler` in the project as a dev dependency or reinstall it globally with NPM in order to make the plugin work for you.

[2020-04-17 21:16] chuckntaylor commented on #9
Well.. I have it working finally. :) I can confirm that hot-reloading is working just fine, and the folders are being nicely organized even when options.development is set to true.

I'm not saavy with these symlinks etc (As I'm sure you gathered), but I am guessing this issue is at play as per the yarn issue I linked to previously.

I finally found `/Users/chuckntaylor/.config/yarn/global/node_mod

[2020-04-17 21:26] VladimirMikulic commented on #9
Good work figuring this out. It's a bit weird that in order to link the global module, we have to enter the directory of the global module first and register it. I guess, I learned something new today.

Lastly, thank you for your cooperation and for helping me with testing this tricky issue.

[2020-04-22 16:47] IsaacHub opened #13 "Integration with parcel-plugin-compress"
I use `parcel-plugin-compress` to produce compressed files `scripts.js` to `scripts.js.br` and `scripts.js.gz`, it works well, but I wanted them to be structured like following:
[code]

While I build, those two compressed files are missing, If I remove this plugin and rebuild then I got those files back but I don't want a flat directory structure.

My `package.json` config:

[code]

[2020-04-22 17:18] VladimirMikulic commented on #13
Hi @IsaacHub.

Thank you for reporting this.
Your `.br/.gz` files are not deleted, in fact they were never generated :)

My plugin runs before `parcel-plugin-compress` and moves files into their respective folders.
When `parcel-plugin-compress` runs, it looks for files in the root of the `dist` folder, but since my plugin has already moved them, `parcel-plugin-compress` can't generate compressed f

[2020-04-22 17:58] VladimirMikulic commented on #13
I've filed an [issue](https://github.com/parcel-bundler/parcel/issues/4516) to Parcel developers to see if it's possible to make my plugin run last.

[2020-04-22 18:26] VladimirMikulic commented on #13
Unfortunately, due to Parcel's architecture, this is not possible.
The workaround could be to make `postbuild` script and use another NPM package to GZIP the the build files.

[2020-04-22 18:26] #13 closed

[2020-04-22 19:29] IsaacHub commented on #13
This doesn't make any sense, I filed an issue that your plugin deletes files with extension `.br` and `.gz`, This has nothing to do with `parcel-plugin-compress`, That plugin's job is to make `.gz` files, your plugin's job is to move them to a specified directory.

Your plugin deletes `.js.gz` files instead of moving. what this has to do with order of execution or async/sync operations? **If `*.js

[2020-04-23 03:00] ralscha commented on #13
The `parcel-plugin-compress` receives the files it has to compress from Parcel via the `bundle` object. Is there a way for the `parcel-plugin-custom-dist-structure` to amend this structure?
If that is not possible I will look for another solution.

Here the code from `parcel-plugin-compress` that compresses the files
[code]

The bundle object looks like this
[code]

[2020-04-23 04:12] IsaacHub commented on #13
I already figured it out, and done it https://github.com/ralscha/parcel-plugin-compress/issues/10#issuecomment-618164700

I moved that `parcel-plugin-compress` folder out of `node_modules` and referring from local root path and modified `package.json` to point to that modified local plugin directory path.

[2020-04-23 13:43] VladimirMikulic commented on #13
@ralscha thank you very much for your willingness to help, but we both as developers can't do anything about this. Unfortunately, your solution wouldn't work. Even if I modify the `bundle` object, your plugin has already received the original Parcel's `bundle` object. (async operations, remember
 :)
Not to mention side effects that it can have for other plugins that user might have.

Personally, I

[2020-04-23 14:00] IsaacHub commented on #13
@VladimirMikulic At first I read your last comment and later I realized there were 3 comments, and then I read your first comment and realized that those files were not generated at all. That's what the cause of my confusion, sorry.

Anyway, I patched a reliable solution to `compress` plugin.

[2020-04-23 17:03] IsaacHub opened #14 "sourceMappingURL is messed up"
If I execute `parcel index.html` with `development: true` then I got the following warning:

![Screenshot_24](https://user-images.githubusercontent.com/20126441/80126252-714f9280-85b0-11ea-80c8-f224cbf0d26d.png)

That's because sourceMappingUrl got scrambled as below ( redundant double dot and back-slash):

![Screenshot_25](https://user-images.githubusercontent.com/20126441/80126620-f8046f80-85b0-

[2020-04-23 17:13] IsaacHub opened #15 "Dynamic import throws error in production mode, but works in dev mode"
I downloaded https://github.com/finmavis/parcel-boilerplate

I installed this plugin and `parcel src/index.html` then it works:

![Screenshot_27](https://user-images.githubusercontent.com/20126441/80128308-18352e00-85b3-11ea-945a-01e27a957e6d.png)

But if I build using `parcel build` and use a local static server https://www.npmjs.com/package/serve
`serve`
then dynamic import won't work:  https://

[2020-04-23 17:27] VladimirMikulic commented on #14
Your OS, Parcel version and plugin config? I am not psychic.

[2020-04-23 19:47] VladimirMikulic commented on #15
Dynamic imports work fine.

You might be missing:

1)
[code]

2) **--public-url=./** in Parcel's build command.

[2020-04-23 19:47] #15 closed

[2020-04-24 02:45] oberonlai opened #16 "Plugin parcel-plugin-custom-dist-structure failed to initialize: TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string."
Hi Vladimir~

I updated to version 1.1.9 and got the following error message:

`Server running at http://localhost:1234
⚠️  Plugin parcel-plugin-custom-dist-structure failed to initialize: TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string. Received type undefined
    at validateString (internal/validators.js:125:11)
    at Module.require (internal/modules/cjs/loader.js:685

[2020-04-24 02:49] VladimirMikulic commented on #16
Hi @oberonlai.
Of course, I can. Did you run `parcel <entryFile>` as a NPM script or from terminal.
If you've run it from terminal (that means that you have parcel globally installed) you need to run `npm link parcel-bundler` to put globally installed package into your projects `node_modules` folder.

Let me know if this works.

Thank you.

[2020-04-24 02:57] oberonlai commented on #16
Thanks! Run npm link parcel-bundler is works!

I run parcel in NPM script, do I run npm link parcel-builder everytime in my future project? Is there any methods to fix the problem at one time?

[2020-04-24 09:11] julienfastre commented on #16
I encounter the same problem with parcel installed locally (in `node_modules`) :unamused:

[code]
package.json:

[code]

[2020-04-24 09:26] VladimirMikulic commented on #16
Hi @julienfastre. Thank you for your detailed package.json file.
The right package is `parcel-bundler`, not `parcel` :)

@oberonlai at the moment if you run parcel from the terminal like:
`> parcel <entryFile>` it is mandatory to run `npm link parcel-bundler`.
If you are running parcel in NPM script, this is not required.

The version v1.1.9 includes improvements about CSS reload (HRM server).
I a

[2020-04-24 09:26] #16 closed

[2020-04-24 09:49] oberonlai commented on #16
I installed the parcel not parcel-bundler, too. I have switched to the parcel-bundler and problem being solved. Thanks~

[2020-04-24 09:52] VladimirMikulic commented on #16
@oberonlai I am glad to hear it's working!

[2020-04-28 03:13] jedchang opened #17 "File path wrongly referenced on Windows in built project"
Inserting pictures in HTML is normal under dev and build mode. But if the image is changed to SCSS, the dev is normal, but the build mode cannot be displayed?
Looks like a picture path problem?

 - OS:  Windows 10
 - Parcel version: v1.12.4
 - Plugin version: v1.1.9

package.json
[code]

index.html
[code]

main.scss
[code]

preview

![q-all](https://user-images.githubusercontent.com/8979857/804430

[2020-04-28 10:32] VladimirMikulic commented on #17
Hi @jedchang. Thank you for reporting this issue.
The fix will be published soon.

[2020-05-02 02:41] VladimirMikulic commented on #17
Hi @jedchang. Sorry for a late reply, I was busy this week.
I think I've fixed it, but I'll need your help to verify this :)

I would like you to test it, the steps are:
1. Clone the project: `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch: `git checkout fix/incorrect-windows-file-paths`
3. Make it available globally on your syste

[2020-05-02 13:43] VladimirMikulic commented on #17
By the way, instead of doing `rm -rf`, you can use `parcel-plugin-nuke-dist` (not my plugin, just a suggestion :)

[2020-05-04 03:22] jedchang commented on #17
Hi @VladimirMikulic,
Follow the steps you provided to test, the path of the picture becomes `url (..\images\banner-bg.de802b11.jpg)`
But the same picture is not displayed? It seems to be changed to `url (../images/banner-bg.de802b11.jpg)` to display?

![04_x_04_11-05-48](https://user-images.githubusercontent.com/8979857/80933929-58d54880-8df8-11ea-942e-9624e974143c.jpg)

[2020-05-05 13:15] VladimirMikulic commented on #17
Hi @jedchang. Thank you for testing it.
I've pushed a new change, could you please try it out following the same steps from above?

Thank you.

[2020-05-05 23:19] imamatory opened #19 "Wrong absolute path for dependencies when public url specified"
Hi. This is awesome plugin i really like it but i found it a bit strange that `--public-url` parcel param doesn't appear in resulting url. I looked at the plugin code and realised that this behavior is intentional.
So the question is how can i put public url in dependencies `href` or `src`? Should it be treated as a bug?

my config in package.json
[code]

[2020-05-05 23:27] VladimirMikulic commented on #19
Hi @imamatory. I am not sure if I understand your question.
`--public-url` flag specifies how assets are referenced (served).

If it is `/` than your `dist` folder is treated as a base point.
On the other hand, if it is `./`, then it's a relative path to the asset.

Which public-url did you specify?

We'll resolve this, don't worry. Just describe to me what your goal is (i.e. what you were trying

[2020-05-05 23:47] imamatory commented on #19
I am trying to specify static url prefix because it vary in different environments. In my case it is `/static/`. The problem is that i build django templates rather than static html that may be served via relative paths. So i need to specify absolute urls in html templates

[2020-05-06 00:03] VladimirMikulic commented on #19
I think I got it now, instead of typical `/` or `./` you would like a custom public-url.
As of now, this is not possible. I'll start working on this as soon as I resolve the bug on Windows.

Thank you for your patience and understanding.

[2020-05-06 00:07] imamatory commented on #19
That's great! Will wait.

On Wed, May 6, 2020, 3:03 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-05-06 03:51] jedchang commented on #17
HI @VladimirMikulic
Awesome! after testing, the path worked perfectly.
Thank you~

[2020-05-06 10:02] #17 closed

[2020-05-06 10:03] VladimirMikulic commented on #17
Awesome! Thank you very much for helping me.
This patch will be published together with the patch for #19.

[2020-05-06 10:32] VladimirMikulic commented on #19
Hi @jedchang. I think I've fixed it, but I'll need your help to verify this :)

I would like you to test it, the steps are:
1. Clone the project: `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch: `git checkout feature/custom-absolute-public-url`
3. Make it available globally on your system: `npm link`
4. After running npm link, you

[2020-05-06 10:44] imamatory commented on #19
Yeah! It works awesome!
By the way there is missing `npm i` step after cloning in your local installation instruction

[2020-05-06 12:21] #19 closed

[2020-05-06 12:25] VladimirMikulic commented on #19
@imamatory that's good to hear!
I've published a new version v1.1.10 which includes this change.

Also, thank you for mentioning `npm i`. I should've specified it :)
Enjoy :rocket:

[2020-05-06 12:27] VladimirMikulic commented on #17
I have good news. The v1.1.10 has been published and includes this patch.
Enjoy :rocket:

[2020-05-06 12:36] imamatory commented on #19
I've used yarn so i decided that with linking via npm `npm i` may not be necessary.
Thank you! You've kept me with parcel :+1:

[2020-05-06 12:40] VladimirMikulic commented on #19
No problem. I am a big fan of Parcel and zero-config approach.
Webpack is a necessity for bigger projects, but for side projects and even sm-mid size production apps Parcel serves just fine! Glad you like it :)

[2020-05-07 21:20] oliver-hoff opened #21 "Error when using "parcel" package instead of "parcel-bundler""
**Describe the bug**
I have a complex project with React.lazy imports. I follow the instructions for config as explained in my package.json (only using the js and images options)

**How it happened?**
After installing the plugin and building, I get the error: The "path" argument must be of type string. Received type undefined

**Desktop (please complete the following information):**
 - OS: Mac OS

[2020-05-07 21:29] VladimirMikulic commented on #21
Hi Oliver. Thank you for reporting this issue. Could you please post a complete call-stack here. Thank you.

[2020-05-07 21:38] oliver-hoff commented on #21
Wow that was fast! Thanks for responding. Here is the stack trace:

`
The "path" argument must be of type string. Received type undefined
    at assertPath (path.js:39:11)
    at Object.relative (path.js:1171:5)
    at fileDependeciesPaths.forEach.depPath (/Users/oliverhoffman/Projects/seliom/web/client/node_modules/parcel-plugin-custom-dist-structure/lib/FileProcessor.js:69:29)
    at Array.forEa

[2020-05-08 01:03] VladimirMikulic commented on #21
That's strange. Could you please try the previous version (1.1.9)?
It's a minor change but I would like to check if it works alright.

Also, does the lazy load work without my plugin?
You might find this useful https://github.com/parcel-bundler/parcel/issues/2193

[2020-05-08 01:33] VladimirMikulic commented on #21
You can probably ignore my previous comment :)
I think I've figured out the problem. Almost all tests fail on version 1.2.1.
This wasn't a surprise for me since that version is 2+ years old.
It's completely different from 1.12.4 (current latest).

Could you possibly bump Parcels version to 1.12.4? If you don't have some other old version-specific configs/plugins, it shouldn't break anything.

Than

[2020-05-08 01:34] oliver-hoff commented on #21
Ok thank you! I will try that. I was thinking perhaps the aliases I am using might also be the cause, but its much more likely to be what you suggested. I will report back :)

[2020-05-08 21:12] imamatory opened #22 "Incorrect dependency resolution after update in watch mode with public-url"
**Describe the bug**
Got `/static/fonts/MyFont.b9974724.woff ` instead of `/static/assets/fonts/MyFont.b9974724.woff ` after save any css file in watch mode. Parcel started with `--public-url=/static/`. Initial build generates correct url for the font and all works fine until i save any css file.

I have project structure like this:
[code]
`public/common.scss`
[code]
`fonts/MyFont.scss`
[code]

**

[2020-05-08 23:15] VladimirMikulic commented on #22
Seems like a problem related to development mode. I'll try my best to provide a path as soon as possible.

[2020-05-09 00:46] VladimirMikulic commented on #22
Hi @imamatory.
The patch has been published. Could you please try it by following these steps again?

1. Clone the project: `git clone https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure.git`
2. Check out the test branch: `git checkout fix/incorrect-path-links`
3. Install dependencies: `npm i`
4. Make it available globally on your system: `npm link`
5. After running npm link, yo

[2020-05-09 13:02] imamatory commented on #22
Hi, @VladimirMikulic.
Thank you for quick reply.
Font reloading have been fixed now. But it caused another import resolution's issue when there is a hot update by pug template. After hard page reload style link is fine, the issue only appears after hot update.

`/static/common.048d1b14.css` instead of `/static/assets/common.048d1b14.css `

I will try to provide complete folder and import structure

[2020-05-09 13:19] VladimirMikulic commented on #22
Hi @imamatory. No problem.
By "hot update", are you referring to HMR (hot module reloading)?

[2020-05-09 13:25] VladimirMikulic commented on #21
So, did it work? :)

[2020-05-09 13:30] imamatory commented on #22
I meant HMR but then i looked in dev tools and realized that this is live reload (hard page reload triggered by js).
Also not every update breaks css and js files urls. It seems like it happens randomly.

[2020-05-09 13:34] VladimirMikulic commented on #22
Does this happen with this patch only or with NPM v1.1.10 as well?
It's a bit strange that it breaks randomly. I haven't used pug but I'll set up something to try to emulate your setup and identify the bug.

[2020-05-09 13:46] imamatory commented on #22
It strange how i didn't see this earlier but this happens in v1.1.10 as well.
Also manual page reload always works correctly. Only "automatic" updates sometimes breaks css and js links.

The current issue with fonts has been fixed. Now we can open a new one and i can try to create a repo to demonstrate new issue.

[2020-05-09 13:49] VladimirMikulic commented on #22
@imamatory that would be very helpful and would make a fixing process quicker.
We can still keep this issue open, without opening a new one since this is again related to development mode.

Let me know when you set up the repo :+1:

[2020-05-09 15:03] imamatory commented on #22
Here the [repo](https://github.com/imamatory/parcel-plugin-custom-dist-structure-issue-demo). You can read description in readme to reproduce issue

[2020-05-09 15:04] VladimirMikulic commented on #22
Awesome, thank you! I'll let you know when I fix this.

[2020-05-09 15:21] oliver-hoff commented on #21
Sorry! I have been swamped with work and haven’t tried. Will report back tonight so we can close the issue. Thanks for all your help!

Sent from my iPhone

[2020-05-09 15:22] VladimirMikulic commented on #21
No problem, take your time :)

[2020-05-09 16:04] VladimirMikulic commented on #22
Hi, again @imamatory.
You won't believe but there is no issue here.
It's just how the stuff works. Let me explain.

Each time you make a change to the source file, Parcel outputs that file in the root of the dist folder, my plugin runs and **places** it into the folder that you've defined in package.json.
After the plugin had placed the file in its folder, it needs to replace the Parcel file refer

[2020-05-09 22:32] imamatory commented on #22
Wow you found this!
But as i know serve doesn't implement live reload, it just serves static. Updates provided by parcel. If i start parcel with option `--no-hmr` updates won't trigger reload at all. Also i use serve just for this example, in my real project run django server but it also doen't trigger reload.

Maybe i'm missing something? What can we do?

[2020-05-09 22:44] VladimirMikulic commented on #22
You are right, `serve` doesn't implement live reload it's Parcel's feature.

In Node.js we have a package called `nodemon` that does reloading on file change for us (server-side).
I've found [this](https://github.com/tjwalch/django-livereload-server) for Django.

Your server-side stack is Python so you have to use Python tools :)

[2020-05-10 00:08] imamatory commented on #22
Ok i got it about custom watcher. I just wonder why parcel don't wait until this plugin completes its work. Is this caused by parcel plugins architecture?

[2020-05-10 00:51] VladimirMikulic commented on #22
That's correct. Due to Parcel architecture and the way plugins are run, it's not possible.

[2020-05-10 14:26] miguelcabanzo commented on #21
Not sure if related, but I got a similar error on build using 1.12.4:

Plugin parcel-plugin-custom-dist-structure failed to initialize: TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string. Received undefined

[2020-05-10 14:29] VladimirMikulic commented on #21
Could you please check out #22 and see if the error persists?

[2020-05-10 16:08] miguelcabanzo commented on #21
Unfortunately the patch didn't solve the issue, dev/prod still throw the same error.

[2020-05-10 16:09] VladimirMikulic commented on #21
Could you please post your OS, project structure & config object so I can identify the issue?

[2020-05-10 16:25] miguelcabanzo commented on #21
Sure, here they are:

Mac OS Catalina 10.15.4
[code]
[code]

[2020-05-10 20:39] imamatory commented on #22
I've decided that my project already too complex for parcel so i switched to webpack. But i'd learnt some tricks with parcel and realized that it can be used for simple projects very easy.
I think issue solved.

Thanks for helping!

[2020-05-10 20:47] VladimirMikulic commented on #22
@imamatory thank you for informing me.
I am glad that I was able to help you and teach you a few tricks ;)
This was a good issue that enhances my plugin capabilities and thank you for this!

Since your project is complex, I agree that Webpack is better.
It's more mature and battle-tested than Parcel.

Good luck with your project!

[2020-05-10 21:15] VladimirMikulic commented on #21
Hi @miguelcabanzo.
I've updated the patch. Could you please follow the instructions and try to see if it works?

Thank you.

[2020-05-13 06:46] jedchang opened #24 "Multiple HTML pages cannot use the same css, image"
There are multiple pages index.html and main.html, but the same css and image cannot be used together. Only the first one used can be displayed correctly

OS: Windows 10
Parcel version: ^1.12.4
Plugin version: ^1.1.10

package.json
[code]

index.html
[code]

main.html
[code]

Preview：index.html Is normal and can be displayed

![index](https://user-images.githubusercontent.com/8979857/81780072-786f

[2020-05-13 07:02] VladimirMikulic commented on #24
@jedchang thank you for reporting this.
I've just tested it out and you are right. In my experience, this only occurs with CSS files.
The patch should be available soon :)

[2020-05-13 14:35] #22 closed

[2020-05-13 14:38] VladimirMikulic commented on #24
@jedchang v1.1.11 has been released!
It includes this fix as well as some other fixes and performance improvements.

Enjoy :rocket:

[2020-05-13 14:39] #24 closed

[2020-05-13 14:40] VladimirMikulic commented on #21
I've released v1.1.11. Could you please check if the issue persists?

[2020-05-14 02:19] jedchang commented on #24
Hi @VladimirMikulic
After using version v1.1.11, an error occurs! The compiled file has no folder, only js has folder output

![10](https://user-images.githubusercontent.com/8979857/81885169-5038fb00-95cc-11ea-8ee6-875a65ff6eb6.jpg)

![11](https://user-images.githubusercontent.com/8979857/81885183-5929cc80-95cc-11ea-84db-478a7eb4452d.jpg)

[2020-05-14 11:16] miguelcabanzo commented on #21
got a chance to finally test it today @VladimirMikulic, unfortunately v1.1.11 still returns `TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string.`

[2020-05-14 11:28] VladimirMikulic commented on #21
@miguelcabanzo could you post the complete call-stack? Thanks.

[2020-05-14 11:37] VladimirMikulic commented on #24
Hi @jedchang.
It's strange that error appears because tests are passing and I've tested it on an example project which has the same structure as yours. I've not encountered any problems.

Could you please post the error message here? Thank you.

[2020-05-14 14:29] miguelcabanzo commented on #21
Sure:
[code]

[2020-05-15 00:58] jedchang commented on #24
The error message is as follows

![15_x_15_08-55-51](https://user-images.githubusercontent.com/8979857/82000199-2e05b280-968a-11ea-8698-9f0d1dc4ee4f.jpg)

[2020-05-15 14:47] VladimirMikulic commented on #24
That's odd. I've tested the plugin on Windows and there are no errors.
Is your project by any chance open source so I can clone it and see what's wrong?
If it's not, could you please set up an example repo in which plugin throws an error for you?

Thank you.

[2020-05-18 01:06] jedchang commented on #24
Hi @VladimirMikulic ,
I put files on this repository, [test-parcel-plugin](https://github.com/jedchang/test-parcel-plugin)
Thank you

[2020-05-18 12:59] VladimirMikulic commented on #21
@miguelcabanzo could you please set up an example repo which reproduces this error? Thank you.

[2020-05-18 13:15] VladimirMikulic commented on #24
@jedchang I was able to identify and fix this tricky issue.
I'll publish a new version as soon as I resolve #21. Thank you very much for reporting this critical issue and helping me identify it!

[2020-05-22 18:05] VladimirMikulic commented on #24
Hi @jedchang. We are having a hard time resolving #21 but I didn't want you to wait until we resolve it so I've published a new version which includes this change.

Enjoy v1.1.12 & thank you for making it possible!

[2020-05-25 01:35] jedchang commented on #24
After using the v1.1.12 version, the folder structure in dist is normal, but it still reports an error and cannot run

![err1](https://user-images.githubusercontent.com/8979857/82770382-f1e10780-9e6a-11ea-96ac-1dc5975b612b.jpg)

Error message
![err2](https://user-images.githubusercontent.com/8979857/82770388-f60d2500-9e6a-11ea-917b-563b9dcf2311.jpg)

[2020-05-26 18:32] VladimirMikulic commented on #24
Thanks, @jedchang. I'll fix it soon.

[2020-06-09 09:28] iamwangkj opened #25 "The "id" argument must be of type string"
**Describe the bug**
When I run build script, it say: The "id" argument must be of type string.

**How it happened?**
I want to moving static resources to a separate folder. And when I run build script, it say: The "id" argument must be of type string.

**Desktop (please complete the following information):**
 - OS: macOS
 - Parcel version: v1.12.4
 - Plugin version: v1.1.12

**Plugin configuratio

[2020-06-09 11:39] VladimirMikulic commented on #25
Hi @iamwangkj. Thank you for reporting this issue. Could you please specify project folder structure (src) and how files are referenced?

[2020-06-10 11:37] #25 closed

[2020-06-10 11:50] VladimirMikulic commented on #21
@miguelcabanzo @oliver-hoff I think I know what this issue is about.
Both of you are probably using `parcel` package and not `parcel-bundler` package.
They are essentially the same but exist with different names for some historic reasons.

My plugin was only supporting `parcel-bundler`.
@cxa spotted this issue and submitted a patch.

v1.1.13 has been published which includes this patch. Could you

[2020-06-10 11:51] VladimirMikulic commented on #25
@iamwangkj please check out v1.1.13
The error should be gone :)

[2020-06-11 15:59] #21 closed

[2020-06-15 13:22] EdgarKogel commented on #25
Hi! I have the same problem and  FIX #26 does not help in my case.

If you install Parcel globally as mentioned on the Parcel Getting Started page (`yarn global add parcel-bundler`) this error is still there. But the fix helped me to find a workaround for now.

If I add `parcel-bundler` also locally with `yarn add -D parcel-bundler` the plug-in worked for me like expected and helped me to achieve

[2020-06-15 13:38] VladimirMikulic commented on #25
Hi @EdgarKogel. Thank you for your comment.
I am glad my plugin served you well.

Unfortunately, it's a bit complicated to retrieve the path of the globally installed Parcel package.
As a fellow JS developer, you probably understand the fragmentation of this ecosystem :)
Some users use NPM, others use yarn, some use `parcel` package, then others use `parcel-bundler` and so on...

I agree with you

[2020-06-24 10:50] bySabi commented on #2
@VladimirMikulic  please create a different branch, maybe v2?, for Parcel v2 support.

[2020-06-24 12:09] VladimirMikulic commented on #2
Hi @bySabi. I appreciate your vote on this topic.
A few days ago Parcel 2 beta 1 has been released and it's time to start working :)

[2020-06-26 10:42] pukarsharma112 opened #28 "Ignore some files"
Is there any way to ignore some files .. ie: favicon.png and apple-touch-icon.png, service-worker.js etc but put other similar files as structured??

[2020-06-26 10:49] VladimirMikulic commented on #28
Hi @pukarsharma112.
First of all, you need to know that Parcel bundles all files referenced by `index` file that you specify (its dependencies) and they are outputted in the root of the `dist` folder.
If I understand you correctly, you would like to keep `favicon.png, apple-touch-icon.png, service-worker.js` in the root of the dist folder, right?

[2020-06-27 06:38] pukarsharma112 commented on #28
yes, i understand that parcel by default put all files in dist folder so i used your plugin to structure the dist folder. But i want to ignore some files like mentioned above so that they will always be on root folder...

[2020-06-30 17:22] VladimirMikulic commented on #28
@pukarsharma112 sorry for a late reply. Currently, it is not possible to ignore specific files. By any chance, could [this](https://www.npmjs.com/package/parcel-plugin-static-files-copy) plugin provide the functionality you desire?

[2020-07-02 10:20] pukarsharma112 commented on #28
thanks for your suggestion but that plugin don't provide what i want. Anyway your plugin is still helping me :-)

[2020-07-02 10:20] #28 closed

[2020-07-02 10:47] VladimirMikulic commented on #28
I appreciate your kind words @pukarsharma112. I have some plans to improve this plugin and I'll make sure to include this feature as well :)

[2020-07-03 03:59] pukarsharma112 commented on #28
Thank you sir. But anyway the plugin is so well to manage the
output structure rather than just putting all files in same directory. And
one issue i have found is when i add manifest.webmanifest file and images,
then the images are placed in the directory as specified in config but
those images path on .webmanifest file are not updated

On Thu, Jul 2, 2020 at 4:32 PM Vladimir Mikulic <notification

[2020-07-03 08:02] VladimirMikulic commented on #28
`.webmanifest` file doesn't ring the bell. What type of project are you working on?

[2020-07-03 08:41] pukarsharma112 commented on #28
pwa requires manifest.json but with parcel, we need to use
manifest.webmanifest

On Fri, Jul 3, 2020 at 1:47 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-07-03 09:04] VladimirMikulic commented on #28
Thanks for the clarification. This plugin updates path of files that are present in the graph which the plugin receives from Parcel.
If `manifest.webmanifest` is not in the graph, then it won't modify it. Could you possibly set up an example project so I can take a look and see what's going on? Thanks.

[2020-07-03 11:01] pukarsharma112 commented on #28
Here's my basic project structure
https://github.com/pukarsharma112/plugin-test.git
I have also uploaded dist directory, check the manifest.webmanifest file
and see those `icons.src` url

[2020-07-03 12:37] VladimirMikulic commented on #28
Thank you for this @pukarsharma112. This is plugin's issue which I've identified and I am working on the fix!

[2020-07-03 14:18] pukarsharma112 commented on #28
you're welcome sir. I am happy and satisfied to use your plugin.

On Fri, Jul 3, 2020 at 6:22 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2020-07-03 17:44] pukarsharma112 commented on #28
actually there is a way to solve the issue that i opened on github. your
plugin checks extension and put the builds to directory based on those
extensions. but if there is any

On Fri, Jul 3, 2020, 8:03 PM Pukar Sharma <pukarsharma112@gmail.com> wrote:

[2020-07-03 17:52] pukarsharma112 commented on #28
actually there is a way to solve the issue that i opened on github. your
plugin checks extension and put the builds to directory based on those
extensions. but if there is any way so that the plugin first checks if it
is filename or extension and then output the build files based on the
config. I don't know if this is really possible or not but i just want to
share the idea. but anyway your plugin

[2020-07-03 20:57] VladimirMikulic commented on #28
@pukarsharma112 you are reading my mind. That's exactly what I thought. You could specify an array containing Regex expressions which describe which files plugin should ignore/keep in the root of the dist folder.

By the way, I've fixed the issue with the manifest, checkout newest version 1.1.14.
Enjoy and stay tuned for additional updates :)

Lastly, I would like to thank you for your help and fo

[2020-07-19 13:55] BskyRui opened #29 "The image path in css doesn't replaced"
[code]
Actually `my_prize.1b440f9c.png` is in `/images/my_prize.1b440f9c.png`, this is not a right path.

[2020-07-20 08:00] VladimirMikulic commented on #29
Hi @BskyRui.
Thank you for reporting this issue.

Which version of the plugin are you using and the version of Parcel?
I would like to see your config in package.json as well.

[2020-07-20 10:15] BskyRui commented on #29
@VladimirMikulic

package.json
[code]

[2020-07-20 10:43] VladimirMikulic commented on #29
Thanks, @BskyRui.
I have used [this repo](https://github.com/clovis-rosa/landingpage_test) which, I think has a similar structure to your project and I wasn't able to reproduce this issue.

Is your project by any chance open-source so I can take a look?
If it's not, could you set up an example repo which reproduces the issue?

[2020-07-21 01:56] BskyRui commented on #29
@VladimirMikulic Yes, I didn't use `development ` mode because I don't understand what the meaning of this, so I deleted it. I checked  your repo, and the style file doesn't contain `background: url(xxx.png)`. I can make a simple demo, how to send it to you?

[2020-07-21 09:31] VladimirMikulic commented on #29
@BskyRui the example repo doesn't contain `background: url(xyz.png)`, I've added it locally.

You can simply make it a public repo on your GitHub account and delete it after I fix the issue, or you can upload it to cloud (Dropbox, GDrive etc.)

Whatever works the best for you.

[2020-07-21 10:38] cooltolia opened #31 "Wrong path of imported image on build"
**Describe the bug**
Imported image in js has wrong path after project build

**How it happened?**
Hi. Foremost let me thank you for such great plugin. I wouldn't use parcel without it)
Though I've encountered with one problem

In my js file need no import image.
Do it either in by import or require, result is the same
`import img from '~/assets/images/main-page/map-point.png';`

While in dev mode

[2020-07-21 13:17] VladimirMikulic commented on #31
Hi @cooltolia.
I appreciate your kind words.

You are saying that all other image paths are fine, except this `map-point.png` image?
Is your repo by any chance open-source so I can take a look at it?
If it's not, could you please set up the example repo which reproduces this issue.

Lastly, could you verify that this persists with version 1.1.13 of the plugin?

Thank you.

[2020-07-21 13:17] VladimirMikulic commented on #31
Possibly related to #29

[2020-07-21 13:31] BskyRui commented on #29
@VladimirMikulic
I pushed source code to this [repo](https://github.com/BskyRui/parcel-test.git). The `master` branch is the right demo which a DIV with a background image. Another branch used this plugin, the background image path in style file is wrong when `npm run build`.

[2020-07-21 13:33] VladimirMikulic commented on #29
Thank you very much @BskyRui. I am all over it now!

[2020-07-21 13:50] VladimirMikulic commented on #29
Alright, I was able to identify the issue. This happens only for CSS imports inside JS that reference external files (i.e. images).
Stay tuned, the fix is coming!

[2020-07-21 14:10] cooltolia commented on #31
@VladimirMikulic

just tried version 1.1.13. No joy

[Here](https://github.com/cooltolia/spbplod) you may look at the project

[2020-07-22 21:31] jhess666 opened #32 "DevTools failed to load SourceMap"
**Describe the bug**

DevTools can't parse generated source maps.

**How it happened?**

The error is pretty much trivial and happens because of the path replacements (probably only for Windows).

It's easy to identify the reason just looking at the console log.

DevTools error message:
`Unexpected token s in JSON at position 86`

Now, let's take a look at the generated source map file.

The sourc

[2020-07-22 21:50] VladimirMikulic commented on #32
Hi @jhess666. Thank you for reporting this issue.
Do you, by any chance use WSL?

[2020-07-22 22:02] jhess666 commented on #32
Nope. It's a pure Windows environment.

[2020-07-28 16:41] VladimirMikulic commented on #32
Hi @jhess666.

I have a Windows 7 in VM and I am unable to reproduce the issue. Could you set up an example repo which reproduces this issue? Thanks.

[2020-07-28 20:44] jhess666 commented on #32
In my tests I have found where the issue is being originated (at least for me):

[code]

[2020-07-29 09:06] VladimirMikulic commented on #32
Could please set up an example repo that reproduces this issue? Thanks.

[2020-08-07 21:37] VladimirMikulic commented on #32
Closing this since I was unable to reproduce the issue. Feel free to comment here and we'll reopen this if it happens again.

[2020-08-07 21:37] #32 closed

[2020-08-13 07:04] eclisia opened #33 "Request information about readme enclosed image"
Dear, I found  your readme following a post on Dev.to
That's true your readme is very nice : great !
But I wonder how you added the image (cloud, package, etc.) in your readme ?
The only way I know are :
1 - commit an image in the repo, then call it with markdown syntax,
2 - call an image from Internet.
But, in your case, it seems you use
`## :code: your title`

[2020-08-13 07:43] VladimirMikulic commented on #33
Hi @eclisia!

"Cloud", "package" etc. are not images actually. They are emojis.
Github supports special `:emoji:` syntax so when Github encounters it,
Github replaces `:emoji:` with a corresponding emoji.

Hopefully, this clears your doubt.

[2020-08-13 07:43] #33 closed

[2020-08-13 12:04] eclisia commented on #33
So obvious...  :disappointed: Thanks a lot !

[2020-08-13 12:04] eclisia commented on #33
So obvious...  :disappointed: Thanks a lot !

[2020-08-13 12:57] VladimirMikulic commented on #33
@eclisia no problem! Glad it was helpful!

[2020-08-14 00:19] AndreaBaccolini opened #34 "The plugin doesn't work for me"
Hi, it's just the plugin I was looking for for me that I make sites but unfortunately I can't get it to work.
It does not create folders in the "dist" directory
This is my Package.json

<pre>
`{
  "name": "provaparcel2",
  "version": "1.0.0",
  "dependencies": {
    "parcel": "^2.0.0-beta.1",
    "sass": "^1.26.10"
  },
  "devDependencies": {
    "autoprefixer": "^9.8.6",
    "parcel-bundler": "^1

[2020-08-14 09:31] VladimirMikulic commented on #34
Hi @AndreaBaccolini.
You are using Parcel version 2. There are architectural differences between Parcel v1 and v2.
At the moment this plugin supports only Parcel v1.

[2020-08-14 09:31] #34 closed

[2020-08-14 10:38] AndreaBaccolini commented on #34
It doesn't even work with PArcel v1.12.4
<pre>
{
  "name": "provaparcel2",
  "version": "1.0.0",
  "dependencies": {
    "parcel": "^2.0.0-beta.1",
    "sass": "^1.26.10"
  },
  "devDependencies": {
    "autoprefixer": "^9.8.6",
    "parcel": "1.12.4",
    "parcel-bundler": "^1.12.4",
    "parcel-plugin-clean-easy": "^1.0.2",
    "parcel-plugin-custom-dist-structure": "^1.1.14",
    "sass": "^1.26

[2020-08-14 11:02] VladimirMikulic commented on #34
@AndreaBaccolini plugin does work but your config on the other hand... :)

First of all, you have spaces surrounding keys in package.json which is not standard.
`" customDistStructure "` -> `"customDistStructure"`

You could also potentially have conflicting dependencies since you have 3 Parcel packages installed.
Parcel v2, and Parcel v1 (`parcel` & `parcel-bundler`).

Also, what is your OS?

[2020-08-14 12:26] AndreaBaccolini commented on #29
Hi, no new info for this issue?

[2020-08-14 12:49] VladimirMikulic commented on #29
Sorry, everyone! I've been busy for the past few weeks. Hopefully, I'll be able to get on this soon.

[2020-08-14 13:11] AndreaBaccolini commented on #34
Ok thx now work

[2020-08-18 08:09] geongeorge commented on #31
Same issue here!
[code]
The png is placed in the `images` directory.
But the css `url()` import points to `/file.png` (instead of `/images/file.png`)

[2020-08-18 08:10] geongeorge commented on #29
@VladimirMikulic  Thanks for this project.

Just linking this here :) https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure/issues/31#issuecomment-675328754

[2020-08-18 09:06] VladimirMikulic commented on #31
Thanks, @geongeorge for reporting this.
Could you please set up an example repo that reproduces this issue?
Does this occur in production build only or in the development as well?

Lastly, what is your OS?

[2020-08-18 21:44] samrith-s opened #35 "Merge with parcel-plugin-structurize"
Hey guys 👋 ,

I see this project does exactly (almost) what a plugin of mine, [parcel-plugin-structurize](https://github.com/samrith-s/parcel-plugin-structurize), does.

I was wondering if we could merge the two into a new plugin? Also wanter to understand what types of input does this plugin supports, etc etc.

Cheers!

[2020-08-18 23:07] VladimirMikulic commented on #35
Hi @samrith-s!
There is no us, it's only me haha :)

Why would you like to merge them? Isn't that too much of a hassle?

The plugin supports just about anything. You simply specify a file extension and the path where you would like it to be stored.

[2020-08-18 23:07] #35 closed

[2020-08-19 01:18] samrith-s commented on #35
Ah got it haha! Okay, I was wondering how you support and update paths in the HTML (or other input) files?

Also the point of merging was so that we can maintain one project and provide better coverage and support. 😄

[2020-08-19 11:09] geongeorge commented on #31
@VladimirMikulic
This is not a full repo but use this repo: https://github.com/geongeorge/Awesome-Sass-Tailwind-Parcel-Boilerplate
- Add an image in images folder
- Add the settings to config
[code]
- Set it as background using css
[code]
- It will work in dev server
but if you build it the images will be placed in the root

Also, my os is Mac OS Catalina

[2020-08-19 12:59] VladimirMikulic commented on #35
Hi @samrith-s.

I truly appreciate the offer but our projects are different, not only in technical implementation but in functionality as well.
Regarding the path updates, it's fairly complex. I would need to write a blog post about it  :)

[2020-08-21 03:26] samrith-s commented on #35
Ah gotcha. No problem. :)

I just did a big rewrite of my entire plugin and figured out the pathing thing. Thanks again!

[2020-08-29 16:03] serhatyuna commented on #24
Hi @VladimirMikulic, thanks for your work. I am using v1.1.14 and I can say that this issue is still relevant. My config is below. Can you inform me please?

[code]

[2020-08-29 16:04] VladimirMikulic commented on #24
Hello @serhatyuna.
I appreciate your kind words & thank you for reporting this.

Could you please provide me with an example repo that reproduces the issue?

Thank you.

[2020-08-29 16:11] serhatyuna commented on #24
Thank you. I sent you an invitation to the project.

[2020-08-29 16:20] VladimirMikulic commented on #24
Thank you, @serhatyuna. I'll troubleshoot the plugin and get back to you as soon as I identify the bug.

[2020-08-29 18:33] serhatyuna commented on #24
As I upgraded to v1.1.15, `build` command runs as expected. But when the plugin is activated in development, the dependency cycle error (mentioned at [#issuecomment-628963414](https://github.com/VladimirMikulic/parcel-plugin-custom-dist-structure/issues/24#issuecomment-628963414)) still occurs. Since it still works in development without activating the plugin, there is no need to use it in develop

[2020-08-29 22:10] VladimirMikulic commented on #24
Hello @serhatyuna.
Thank you for reporting the issue. Actually, it was a very a simple fix and by upgrading to v.1.1.16, you can take advantage of it.
Enjoy!

[2020-09-09 14:43] AndreaBaccolini commented on #29
Any news about it? I ask you because it would be very useful. Thx

[2020-09-09 14:48] VladimirMikulic commented on #29
Hello, @AndreaBaccolini. I appreciate you commenting on the issue.
I was wondering if you have the same problem?

Not related to this discussion, but I would like to warn you that you have misspelt name in your Github profile README. ("bame")
Thanks.

[2020-09-11 12:52] AndreaBaccolini commented on #29
@VladimirMikulic  Hello yes, I also have the same problem and for now I solve it by putting the images in the folder by hand and changing the address to the link.
As for the name in my README I don't understand what you mean

[2020-09-11 12:56] VladimirMikulic commented on #29
Thanks, @AndreaBaccolini. I'll see what I can do to it.
[Here is](https://imgur.com/a/dUbif0g) what I meant about the typo in your README.

[2020-10-04 06:41] chinoto commented on #31
I believe I'm having the same issue, but I'm trying to use relative paths via `--public-url ./`. Here is my MRE: https://github.com/chinoto/parcel_custom_structure_bug_mre

All source files are at the same level. `index.html` fetches `app.js`, which imports `example.jpg`. These are the paths they try to use after compiling and what I am expecting to see. The only one that works is `app.js` when us

[2020-10-30 15:30] pstema opened #36 "Puts css in folder but does not link to it"
**Describe the bug**
Thank your for this cool plug i!

adds a css directory but this breaks the link to the css
the image, js are generated as expected

<link rel="stylesheet" href="app.c328ef1a.css">
should be
<link rel="stylesheet" href="css/app.c328ef1a.css">

**How it happened?**
make dir for css, js, images

**Desktop (please complete the following information):**
 - OS: Windows
"parcel-bundl

[2020-10-31 11:18] VladimirMikulic commented on #36
Hi @pstema! Thanks for reporting this issue. Unfortunately, I am not sure if I would have time to take a detailed look at it :(

[2020-10-31 20:02] Panbehkar opened #37 "Does it works for parcel version 2?"
It was working with `parcel-bundler` (version 1).
I removed the parcel-bundler, and install `parcel `(version 2).
I didn't change any other config in my `package.json`, but it doesn't work now!
Now when I `build`, I don't have the `files` folder inside `dist`, only the `dist ` folder is exist
[code]

[2020-10-31 22:31] VladimirMikulic commented on #37
Hello @Panbehkar. The version 2 is currently not supported.

[2020-10-31 22:31] #37 closed

[2020-11-01 06:36] Panbehkar commented on #37
Thank you so much.
Is there another package or method I can use for this purpose (in version 2)?

[2020-11-01 10:44] VladimirMikulic commented on #37
Hello @Panbehkar. I am not aware of solutions for Parcel 2. Thanks.

[2020-11-22 21:32] double-trouble2 opened #38 "How to save svg fonts to the fonts folder?"
Hi first thank you for such a cool plugin. There was a need to save fonts, in this configuration all fonts are saved except for vector fonts. How to exclude svg files from images?
`"customDistStructure": {
    "config": {
      ".css": "css",
      ".js": "js",
      "images": [
        ".jpg",
        ".svg",
        ".png"
      ],
      ".eot": "fonts",
      ".ttf": "fonts",
      ".woff": "fo

[2020-11-22 21:40] VladimirMikulic commented on #38
Hello @double-trouble2.
I appreciate your kind words.

If I understood your problem, this should work for you:
[code]

[2020-11-22 22:10] double-trouble2 commented on #38
I'm very glad you responded so quickly @VladimirMikulic . I'm sorry I didn't state the problem correctly. I need to leave svg images in the **images** folder and svg fonts in **fonts**. And with this configuration svg fonts are generated in the **dist** folder.

[2020-11-22 22:16] VladimirMikulic commented on #38
Hello @double-trouble2. It's alright. I've edited my previous comment/config. Does it work for you now? Thanks.

[2020-11-22 22:23] double-trouble2 commented on #38
Hello @VladimirMikulic .
No it didn't work (
![image](https://user-images.githubusercontent.com/16848648/99918791-18f59480-2d3b-11eb-8427-d09b633f840d.png)

[2020-11-22 22:25] VladimirMikulic commented on #38
@double-trouble2 I am sorry to hear that. This is a bug then :(

[2020-11-22 22:29] double-trouble2 commented on #38
@VladimirMikulic  Well, we'll wait for the new version. I also subscribed to you on Twitter. Good luck!

[2020-12-09 16:25] hrahimi270 commented on #29
Hi @VladimirMikulic.
Any updates on this issue? I'm using the last version of this plugin and having the same issue.

[2020-12-09 19:04] VladimirMikulic commented on #29
Hi @hrahimi270. Unfortunately, I don't have enough time to get back to this project right now.

[2020-12-11 13:10] deivuss331 commented on #29
Waiting for the fix too.

[2021-01-28 07:09] double-trouble2 opened #39 "The plugin "parcel-plugin-custom-dist-structure" has encountered an error."
`  "customDistStructure": { `
`    "config": {`
 `     ".css": "css",`
 `     ".js": "js",`
`      "fonts": [`
  `      ".eot",
   `     ".ttf",
    `    ".woff",
     `   ".woff2"
      `],`
`      "images": [`
 `       ".jpg",`
  `      ".svg",`
   `     ".png",`
    `    ".webp"`
     ` ],`
      `"images/**": [`
`        ".jpg",`
 `       ".svg",`
  `      ".png",`
   `     ".webp"`
`      ]`

[2021-01-28 18:59] VladimirMikulic commented on #39
Hello @double-trouble2. `images/**` is not supported. Use `images/folder` instead.

[2021-01-28 19:29] double-trouble2 commented on #39
Ah, got it. and you don't know how to set up the building svg sprites in parcel? I'll be very thankful.

[2021-01-28 19:38] VladimirMikulic commented on #39
@double-trouble2 check out `parcel-plugin-svg-sprite`.

[2021-02-02 18:12] #39 closed

[2021-02-19 09:17] ashehzadgec opened #40 "Websocket is not open - Error"
Hi

I was using parcel bundler with your awesome plugin and suddenly got this attached error. I am not a backend guy and did not understood this error. Can u pls tell me what caused this error and what is it?

Note: My system was idle for like 90 mnts just for info. I may be related to the problem so I am sharing.
![Screenshot 2021-02-19 141722](https://user-images.githubusercontent.com/65112198/1

[2021-02-19 13:10] VladimirMikulic commented on #40
Thanks, @ashehzadgec. This can sometimes happen, so be sure to just restart the process and you should be good to go :+1:

[2021-02-19 13:10] #40 closed

[2021-02-20 15:47] ashehzadgec commented on #40
Welcome,

Good to know that nothing to worry about.

On Fri, Feb 19, 2021 at 6:10 PM Vladimir Mikulic <notifications@github.com>
wrote:

[2021-03-20 04:30] VladimirMikulic commented on #31
@geongeorge v1.1.17 has been released with amazing work by @jamiegluk. I just tested it with the repo you specified and the issue is resolved!

[2021-03-20 04:30] #31 closed

[2021-03-20 04:32] VladimirMikulic commented on #29
@AndreaBaccolini  @hrahimi270 @deivuss331 v1.1.17 has been released after so much time haha.
Thank you all for being patient. I have tested it with some of the repos in the linked issue and it seems the linking works correctly now.

Closing this now, but feel free to reopen if it does occur again!

[2021-03-20 04:32] #29 closed

[2021-03-20 04:33] VladimirMikulic commented on #36
Hi @pstema. v.1.1.17 has been released. I've tested it with a similar repo and the issue should be resolved for you too!

[2021-03-20 04:33] #36 closed

[2021-03-20 04:35] VladimirMikulic commented on #38
Hi @double-trouble2. v1.1.17 has been released. It solved many issues and I hope it solved this one for you too!
Closing this now but feel free to reopen if it does occur again!

[2021-03-20 04:35] #38 closed

[2021-05-05 19:08] chellios-byte opened #44 "Configure"
Hi! My name is Andrew, I'm new to front-end development, in my projects I use parcel,  and tried using your npm package , custo-dist and can't figure to make it work, simply i dont know to configure it and to start using it in my projects.

   If you cand guide me in configure it , i'll apreciate your time and effort!

         Best wishes,
                    Andrew

[package json.zip](https://gi

[2021-05-06 16:44] VladimirMikulic commented on #44
Hi Andrew. It seems that your JSON is missing a certain character, but I can't tell which one is it. Sorry!

[2021-05-06 16:44] #44 closed

[2021-05-09 07:01] chellios-byte commented on #44
Thank you!

[2021-05-18 14:55] Kvisaz opened #45 "Not working in npm7 workspaces"
**Describe the bug**
NPM7 workspaces (and some other monorepository tools) use common node_modules in monorepository root

When we start npm run start from module dir - parcel-plugin-custom-dist-structure  try to find node_modules in current folder and fail with error

`Plugin parcel-plugin-custom-dist-structure failed to initialize: TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of t

[2021-05-18 15:46] VladimirMikulic commented on #45
@Kvisaz thanks for reporting this. It's indeed strange. Could you please try the plugin in the non-workspace environment just to confirm that it's not a bug related to your setup/my plugin? Thanks!

[2021-05-22 14:04] VladimirMikulic commented on #45
Closing due to lack of further information. Feel free to comment with more details. Thanks!

[2021-05-22 14:04] #45 closed

[2021-06-13 08:18] julianxhokaxhiu commented on #37
Is there any plan to migrate to v2 eventually?

[2021-06-13 19:39] VladimirMikulic commented on #37
@julianxhokaxhiu no plans at the moment. Sorry!

[2021-09-07 06:08] iocouto opened #46 "[Suggestion] Join forces with 'structurize' and 'parcel-namer-rewrite'"
It may be worthwhile getting in touch with a couple of other developers that are trying to develop Parcel plugins to solve the same problem as 'parcel-plugin-custom-dist-structure'. Perhaps you could all join forces and put together a single 'custom-dist-dir' plugin - which might make the job of maintaining and upgrading the plugin easier for you all.

There are a couple of projects I know of whic

[2021-09-07 06:11] VladimirMikulic commented on #46
Hi @iocouto. I appreciate your comment.
`parcel-namer-rewrite` is for Parcel version 2 while this one is for v1.

This plugin is maintained, no issues as you can see :)

[2021-09-07 06:11] #46 closed

[2021-09-07 06:14] iocouto commented on #46
@VladimirMikulic indeed, you do a great job! :)
Would love to see this updated for Parcel 2, though. I thought maybe joining forces with other devs might motivate you, or make the job seem easier?... 😉

[2021-09-07 06:24] VladimirMikulic commented on #46
Parcel 2 plugin architecture is quite simple so many developers have come up with their own solution.
I guess we'll have to see who will emerge as a winner :)

The situation is a bit different for Parcel 1 though since it has very complex structure which forced me to come up with my own solution since there were no other solutions at a time.

Parcel 2 is the future, this plugin is just for legacy

[2021-09-07 06:41] iocouto commented on #46
@VladimirMikulic so far the only one I've been able to find that targets v2 is [parcel-namer-rewrite](https://github.com/ol-loginov/parcel-namer-rewrite) - if you know others, please do share! Right now, not being able to setup custom distDirs in Parcel 2 is stopping me from being able to use it...

[2021-09-07 08:04] VladimirMikulic commented on #46
Sure! There are plenty of them! Just search for [parcel-namer](https://www.npmjs.com/search?q=parcel-namer).

[2021-09-08 06:50] VladimirMikulic commented on #46
@iocouto haha, I even forgot that I have my own.
If you want to try it, here it is: https://github.com/VladimirMikulic/parcel-resolver-ignore

[2021-09-10 06:07] Jako commented on #37
You can use `parcel-namer-rewrite` with this example configuration: https://github.com/ol-loginov/parcel-namer-rewrite/issues/6#issue-992916247

[2021-10-12 17:28] astegmaier opened #47 "Custom dist structure in parcel v2"
Hi! I found this package through a [stackoverflow issue](https://stackoverflow.com/a/60684675/4739687) that you answered. Thanks for contributing your work to the community!

The readme says

However, the link to the "second version", although it does support parcelv2, seems to have some pretty different functionality - ignoring assets, instead of re-structuring the folder output.

Someone else [a

[2021-10-20 08:26] maarten-mobron opened #48 "parcel localhost breaks when customDistStructure is added to package.json"
**Describe the bug**
When a customDistStructure is added to package.json the localhost from parcel breaks.

A solution would be that its only uses the customDistStructure when npm run build is used and not with npm start. The problem is that i don't know how I can achieve that.

**How it happened?**
when trying to run npm start or npm run build.

**Desktop (please complete the following informatio

[2021-10-20 22:44] VladimirMikulic commented on #48
Hello @maarten-mobron!
Setting development to `false` should resolve your issue.

Also, Parcel 2 stable has been released which is the future so I no longer maintain this one :)

[2021-10-20 22:44] #48 closed

[2021-10-20 22:50] #47 closed

[2022-01-07 14:52] AndreaBaccolini commented on #47
Hello @astegmaier. have you started working on version 2 of the plugin? I'd be interested . Thank you

[2022-01-07 15:31] astegmaier commented on #47
Yes - I started [here](https://github.com/astegmaier/parcel-namer-custom-dist-structure). It seems to basically work, but I haven't had time recently to finish it - I want to think harder about the config API, add more unit tests, and publish it.

If you'd like to collaborate, feel free to submit a PR!

[2022-01-14 00:44] teak commented on #47
Perhaps clarify that this repo is for Parcel 1. I know Parcel 2 is fairly new, but as a new Parcel user starting on v2, I have accidentally installed way too many plugins not knowing that they are for Parcel 1.